if SHIELD_BUBBLE-BOBBLER_LEFT

config ZMK_KEYBOARD_NAME
    default "Bubble Bobbler"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BUBBLE-BOBBLER_LEFT || SHIELD_BUBBLE-BOBBLER_RIGHT

config ZMK_SPLIT
    default y

endif